<!DOCTYPE html>
<html ng-app="hiveApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <title>Pagamento Fornecedor</title>
        <!--Folhas de Terceiros -->                
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/font-awesome-4.2.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/bootstrap-3.3.4/dist/css/bootstrap.css">
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/bootstrap-3.3.4/dist/css/bootstrap-theme.css">
        <link rel="stylesheet" href="/NexxeraStyles/designComponents/stylesheet.css">
        <!--Folhas de Terceiros -->
        <!-- Novas sempre por ultimo.-->     
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/google-code-prettify-1.0.3/src/prettify.css">
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/animateCSS-3.2.3/animate.css">  
        <link rel="stylesheet" href="https://aenhive-dev.nexxera.com/Library/angular-ui-select-0.11.2/dist/select.css">
    </head>

    <body>        
        <nx-layout mostrar-favoritos="true"></nx-layout>
    </body>
    <!-- Libs de Terceiros -->
    <script src="https://aenhive-dev.nexxera.com/Library/jquery-1.11.1/dist/jquery.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/zeroclipboard-2.1.6/dist/ZeroClipboard.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-1.2.25/angular.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-resource-1.2.25/angular-resource.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-animate-1.2.25/angular-animate.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-sanitize-1.2.25/angular-sanitize.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-i18n-1.2.25/angular-locale_pt-br.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-ui-router-0.2.11/release/angular-ui-router.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/google-code-prettify-1.0.3/src/prettify.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/bootstrap-3.3.4/dist/js/bootstrap.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-bootstrap-0.11.0/ui-bootstrap.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-bootstrap-0.11.0/ui-bootstrap-tpls.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-ui-utils-0.1.1/ui-utils.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-google-chart-0.0.11/ng-google-chart.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-translate-2.4.0/angular-translate.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-translate-loader-partial-2.4.0/angular-translate-loader-partial.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/jquery-masked-input-1.4.0/dist/jquery.maskedinput.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/ng-flow-2.5.1/dist/ng-flow-standalone.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/x2js-1.1.7/xml2json.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-base64-2.0.1/angular-base64.js"></script>
    <script src="https://aenhive-dev.nexxera.com/Library/angular-ui-select-0.11.2/dist/select.js"></script>
    <!-- Libs Nexxera -->
    <script src="/NexxeraComponents/scripts-nexxera.js"></script>
    <script src="/HiveCommon/scripts-commons.js"></script>
    <!-- Não é necessário adicionar ao index de produção os arquivos exclusivos exclusivos da aplicação -->
    <!-- App -->
    <script src="app/app.js"></script>
    <!-- ROUTE -->
    <script src="app/route.js"></script>
    <!-- CONSTANTS -->
    <!-- Services --> 
    <script src="template/TemplateService.js"></script>
    <!-- Controllers -->
    <script src="template/TemplateController.js"></script>
    <script src="home/HomeController.js"></script>
    <!-- Factories -->
</html>
