<div flex layout="column" flex>
    <md-content id="formContent" class="md-padding">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{"Banco"| translate}}</span>
            </h2>
        </div>
        <form name="bankFormulario" novalidate>
            <div flex-sm="100" flex-gt-sm="100" layout-sm="column">
                <nx-display-validation input="bankFormulario.code" label="{{'Código'|translate}}" obrigatorio="true">
                    <input type="text" id="code" name="code" ng-model="vm.bank.code" ng-disabled='' ng-required="true"/>
                </nx-display-validation>
                <nx-display-validation input="bankFormulario.name" label="{{'Nome'|translate}}" obrigatorio="true">
                    <input type="text" id="name" name="name" ng-model="vm.bank.name" ng-required="true"/>
                </nx-display-validation>
                <nx-display-validation input="bankFormulario.logo" label="{{'Logo'|translate}}" obrigatorio="true">
                    <input id="logo" name="logo" placeholder="{{'Logo'|translate}}" ng-model="image" onchange="angular.element(this).scope().vm.fileChanged(this)" type="file" accept="image/*"/>
                </nx-display-validation>
                <img alt="{{vm.bank.name}}" ng-src="data:image/jpeg;base64,{{vm.bank.logo}}" />
            </div>

            <br>

            <nav class="mdl-layout__header-row">
                <md-button id="btnClearBank" ng-disabled="vm.showButtonClear" ng-click="vm.clear()">
                    <!--@TODO: rever icone-->
                    <md-icon>delete</md-icon>
                    <md-tooltip>
                        {{'Limpar'| translate}}
                    </md-tooltip>
                    <span>{{'Limpar'| translate}}</span>
                </md-button>

                <div class="mdl-layout-spacer"></div>

                <md-button id="btnCancelBank" ng-click="vm.cancel()">
                    <md-icon>cancel</md-icon>
                    <md-tooltip>
                        {{'Cancelar'| translate}}
                    </md-tooltip>
                    <span>{{'Cancelar'| translate}}</span>
                </md-button>

                <md-button type="button" id="btnSalvarCrud" class="md-button md-primary md-raised md-hue-1" ng-click="vm.save(vm.bank)"
                           ng-disabled="bankFormulario.$invalid || !vm.bank.logo">
                    <md-icon>save</md-icon>
                    <md-tooltip>
                        {{'Salvar'| translate}}
                    </md-tooltip>
                    <span>{{'Salvar'| translate}}</span>
                </md-button>
            </nav>
        </form>
    </md-content>
</div>