<md-dialog aria-label="{{'Filtros' | translate}}" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="txt-white" layout="row" layout-align="center center">
                    <md-icon class="material-icons">filter_list</md-icon>&nbsp;  {{'Filtros' | translate}}
                </h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;min-width:400px;max-height:810px;min-height:200px;">
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex>
                    <label>{{'Código'|translate}}</label>
                    <input name="code" id="code" type="text" ng-model="filter.id"/>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>{{'Nome'|translate}}</label>
                    <input name="name" id="name" type="text" ng-model="filter.nomeBanco"/>
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions txt-white" layout="row">
            <md-button id="btnFilter" name="btnFilter" class="md-button md-primary md-raised md-hue-1 md-button md-grey-theme md-ink-ripple" type="button" ng-click="search(filter)" aria-label="{{'Filtrar'| translate}}">
                <md-icon class="material-icons">done</md-icon> {{'Filtrar'| translate}}
            </md-button>
        </div>
    </form>
</md-dialog>